@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ankita Chaudhari</h1>
    <p>Student ID- 500237991 </a>.
     
    
    <strong> Tech Stacks</strong>
    <li> Business Analysis: Requirements Gathering, Stakeholder Communication, Process Mapping, Business Process Optimization, UAT
 Coordination and Demonstration</li>
    <li>Testing & Quality Assurance: Regression Testing, Functional Testing, UI Testing, Smoke Testing, Integration Testing, Mobile & Web Testing</li>
    <li>Technical Skills: C++, Java, Python, SQL, HTML, CSS</li>
    <li> Tools: Microsoft Office Suite, Cucumber, Selenium, Jira, Git, Github, Postman, UiPath Automation, VS Code, Oracle Database XE, Eclipse,
 Atom, WordPress, Figma, Docker, Jenkins, Microsoft Excel, Microsoft Word and Google Docs, PowerPoint, CICD, Azure, AWS, podman, IaC.</li>
    
    </p>
    
</div>
    <hr />
    <div>Loyalist College</div>
</div>
