@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ankita Chaudhari</h1>
    <p>Student ID- 500237991 </a>.</p>
    <hr />
    <div>Loyalist College</div>
</div>
